<div class="main-div"></div>

<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Pokémon</mat-card-title>
    <mat-card-subtitle>Weather In The City</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://github.com/reafreitas1/weatherMapXPokemon/raw/main/assets/pokemon.jpeg?raw=true" alt="Pokémon">
  <mat-card-content>
    <p>City:</p>
    <p>Weather:</p>
    <p>Pokémon:</p>
  </mat-card-content>
  <form class="form">
    <table class="full-width"><th>
      <td><mat-form-field class="full-width" appearance="fill">
        <mat-label>Find The City!</mat-label>
        <input matInput placeholder="Ex. San Francisco">
      </mat-form-field></td>
    </table>
  </form>

</mat-card>



